# Modeling Phase

### Load Python modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import numpy as np
from datetime import datetime
plt.style.use('ggplot')

In [2]:
dt_cleaned = pd.read_csv('dt_cleaned.csv', sep=',')
dt_cleaned

      age_cat         ethnicity  is_recid score_text   sex
0      senior             Other         0        Low  Male
1       adult  African-American         1        Low  Male
2       young  African-American         1        Low  Male
3       young  African-American         0       High  Male
4       adult             Other         0        Low  Male
...       ...               ...       ...        ...   ...
11022  senior             Other         0        Low  Male
11023   young         Caucasian         1     Medium  Male
11024   adult             Other         0        Low  Male
11025   adult         Caucasian         0        Low  Male
11026   adult             Asian         0        Low  Male

[11027 rows x 5 columns]

In [3]:
dt_cleaned_v = pd.read_csv('dt_cleaned_v.csv', sep=',')
dt_cleaned_v

     age_cat         ethnicity  is_violent_recid     sex v_score_text
0      adult  African-American                 1    Male          Low
1      young  African-American                 0    Male          Low
2      adult         Caucasian                 0    Male          Low
3      young         Caucasian                 1    Male       Medium
4      young  African-American                 0    Male          Low
...      ...               ...               ...     ...          ...
3696   young         Caucasian                 0  Female          Low
3697   adult         Caucasian                 0    Male          Low
3698   young  African-American                 0    Male       Medium
3699  senior  African-American                 0    Male          Low
3700   young         Caucasian                 0    Male       Medium

[3701 rows x 5 columns]

In [4]:
dt_date_r = pd.read_csv('dt_date_r.csv', sep=',')
dt_date_r

     age_cat  dates_diff_in_days         ethnicity score_text     sex
0      adult                 160  African-American        Low    Male
1      young                  64  African-American        Low    Male
2      adult                  41         Caucasian     Medium    Male
3      young                 736         Caucasian        Low    Male
4      young                 128  African-American     Medium    Male
...      ...                 ...               ...        ...     ...
3088  senior                 286  African-American     Medium    Male
3089   young                 296         Caucasian        Low  Female
3090   young                   9  African-American        Low    Male
3091  senior                  30  African-American        Low    Male
3092   young                 513         Caucasian     Medium    Male

[3093 rows x 5 columns]

In [5]:
dt_date_v = pd.read_csv('dt_date_v.csv', sep=',')
dt_date_v

    age_cat  dates_diff_in_days         ethnicity   sex v_score_text
0     adult                 160  African-American  Male          Low
1     young                 736         Caucasian  Male       Medium
2     adult                 242         Caucasian  Male          Low
3     adult                 659  African-American  Male          Low
4     adult                 296  African-American  Male       Medium
..      ...                 ...               ...   ...          ...
723   young                 217  African-American  Male       Medium
724   adult                 252  African-American  Male          Low
725   adult                 926  African-American  Male       Medium
726  senior                 741  African-American  Male         High
727   adult                 337         Caucasian  Male          Low

[728 rows x 5 columns]